---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
       
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="stylish">
    <img src="https://cdn6.bigcommerce.com/s-fpcle7ekl8/product_images/uploaded_images/stylishdesigns.png?t=1508706869&_ga=2.57305708.750942923.1508705832-2044619141.1507966180" />
</div>
{{/partial}}
{{> layout/base}}
