{{#if banners.top}}
    <div class="banners" data-banner-location="top">
        <div class="banner">
            {{{limit banners.top 1}}}
        </div>
    </div>
{{/if}}

<header class="amp-header">
    <button class="amp-menu-button" on="tap:amp-menu.toggle">
        Toggle menu
    </button>

    <div class="newlogo">
        <img class="mylogo" src="https://cdn6.bigcommerce.com/s-fpcle7ekl8/product_images/uploaded_images/eccostyle-logo.png?t=1508887171&_ga=2.104475590.750942923.1508705832-2044619141.1507966180" />
    </div>
</header>
<amp-sidebar layout="nodisplay" id="amp-menu" data-menu>
    {{> components/amp/common/navigation-menu}}
</amp-sidebar>
